/* CSS Custom Properties Definitions */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.googleapis.com/css?family=Monoton|Nanum+Gothic&display=swap);

@font-face {
  font-family: "TossFaceFontMac";
  src: url("../static/fonts/TossFaceFontMac.ttf") format("truetype");
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
